

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-position: left top, bottom right;
}


h1 {
  color: #502050;
  font-weight: 700;
  max-width: 400px;
}


.top-container {
  padding: 10% 5% 5% 5%;
}

.description {
  color: #937b92;
  line-height: 1.5;
  text-align: left;
  font-weight: 400;
}

.description p {
  padding-top: 10px;
  max-width: 500px;
}

.card {
  border-style: none;
}

.rating {
  width: 80%;
  background-color: #f7f2f7;
  color: #502050;
  font-weight: 700;
}

.rating-2 {
  position: relative;
  top: 20px;
  left: 40px;
}

.rating-3 {
  position: relative;
  top: 40px;
  left: 80px;
}

.star {
  display: inline;
  padding-right: 15px;
}

.star img {
  padding: 3 3px;
}


/* Reviews Section */

.review-card img {
  border-radius: 100%;
  margin-right: 10px;
  float: left;
  max-width: 15%;
}

.reviews {
  padding: 0 5% 5% 5%;
  color: #f7f2f7;
}

.review-card {
  background-color: #502050;

}

.review-card-2 {
  position: relative;
  top: 20px;
}

.review-card-3 {
  position: relative;
  top: 40px;
}

.clear {
  clear: left;
  padding-top: 20px;
}

.name {
  color: #ffffff;
  font-weight: 500;
  position: relative;
  top: 7px;
}

.buyer {
  color: #ee68a4;
  position: relative;
  top: -7px;
}



/* Attribution */

.attribution {
  text-align: center;
}


/* Responsive Design */

@media screen and (max-width: 1146px) {

  .rating {
    text-align: center;
  }

  .star {
    display: block;
  }

}

@media screen and (max-width: 768px) {

.top-container {
  text-align: center;
}

h1, .description p {
  text-align: center;
  padding: 15px 5px;
  margin: auto;
}

.rating-1, .rating-2, .rating-3 {
  position: static;
  margin: 20px auto;
  width: 100%;
}

.star img {
  padding: 10px 5px;
}

.review-card-1, .review-card-2, .review-card-3 {
  position: static;
  margin: 10px auto;
}

}

@media screen and (max-width: 375px) {
  body {
    background-image: url("bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
  }

  .star img {
    padding: 10px 3px;
  }

}
